.target_h2_Land{
  font-family: monospace;
  color: rgba(25, 25, 25, 0.75);
}

.line {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 50px auto;
  border-right: 2px solid rgba(25, 25, 25, 0.25);
  font-size: 200%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4s steps(40) 1s normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 16em;
  }
}

@keyframes blinkTextCursor {
  form {
    border-right-color: rgba(25, 25, 25, 0.25);
  }
  to {
    border-right-color: transparent;
  }
}
