.New {
  background: red;
  color: #F2F2F2;
  position: relative;
  top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50%;
  font-weight: 900;
}

.Open {
  background: #044BD9;
  color:#F2F2F2;
  position: relative;
  top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50%;
  font-weight: 900;
}

.Resolved {
  background: #2ECC40;
  color:#F2F2F2;
  position: relative;
  top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50%;
  font-weight: 900;
}

.openDate {
  color: #F2F2F2;
  font-weight: 300;
}

.my_header {
  font-weight: 700;
}

.my_col {
  border: 1px solid #fff;
}
