.singleTicket_card {
  background: #F2AC29;
}

.subject_singleTicket {
  text-align: center !important;
}

.createdOn_singleTicket {
  
  color: #044BD9;
}

.details_singleTicket {
  text-align: center;
}
