.myNav {  
  color: #F2F2F2 !important;
}

.myNavbar {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2) !important;
  background: #2B65D9 !important;
}

.nav-link {
  margin-left: 10px;
}

.nav-link:hover {
  background: #F2AC29 !important;
  border-radius: 5px;
}
