@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

.myLogoNav {
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Space Mono', monospace;
  font-size: 25px;
}

.myNav {  
  color: #F2F2F2 !important;
}

.myNavbar {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2) !important;
  background: #2B65D9 !important;
}

.nav-link {
  margin-left: 10px;
}

.nav-link:hover {
  background: #F2AC29 !important;
  border-radius: 5px;
}

.log_class {
  cursor: pointer;
}
